.footer {
    padding:10px;
    background-color: black;
    border-radius: 45px;
    width: 95%;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: white;
    box-shadow: 0 0 4px #fff,
                0 0 8px #fff,
                0 0 16px #ffe139,
                0 0 24px #ffd700,
                0 0 32px #ff8c00,
                0 0 40px #ff8c00;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    padding: 10px;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    padding: 10px;
    gap: 20px;
    padding-right: 5%;
}

.second a {
    cursor: pointer;
}

.email,
.mobile_no,
.address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

/* Footer.module.css */
.noSelect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10+ */
  cursor: 'pointer'
}

@media screen and (max-width: 700px) {
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: 95%;
        justify-items: left;
        justify-content: center;
        padding-left: 0;

    }
    
    .first{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: left;
        padding: 10px;
        margin-left: 5px;
    }
    .second {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        justify-items: left;
        padding: 10px;
        padding-left: 10px;
    }
    
    .second {
        justify-content: center;
    }
}