.Adventures,
.Spacecrafts,
.Launchsites {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'Times New Roman', Times, serif;
    

}
h3{
    color: white;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    padding-bottom: 5%;
}
.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    border-radius: 45px;
    max-width: 95%;
}

.option {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 20px 10px;
    width: 384px;
    height: 240px;
    position: relative;
    background-size: cover;
    justify-items: center;
}

.selected-option {
    border-style: solid;
    box-shadow: 0 0 2px #fff,
                0 0 4px #fff,
                0 0 6px #ffd700,
                0 0 8px #ffd700,
                0 0 10px #ff8c00,
                0 0 12px #ff8c00;
}

.cover_title {
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-self: center;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    text-shadow: 0 0 4px #fff,
                0 0 8px #fff,
                0 0 16px #ffd700,
                0 0 24px #ffd700,
                0 0 32px #ff8c00,
                0 0 40px #ff8c00;
}

img {
    border-radius: 20px;
    width: 384px;
    height: 240px;
}

.final-conformed {
  border-style: solid;
  box-shadow: 0 0 2px #fff,
              0 0 4px #fff,
              0 0 6px #90EE90,
              0 0 8px #90EE90,
              0 0 10px #008000,
              0 0 12px #008000;
}

.TravelConfiguration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Times New Roman';
}

@media screen and (max-width: 700px) {

    .options {
        display: flex;
        flex-direction: row;
        padding: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color: #242424;
        border-radius: 45px;
    }
    
    .option {
        width: 320px;
        height: 200px;
    }
    
    img {
        width: 320px;
        height: 200px;
    }
}