.booknow {
  display: flex;
  flex-direction: column;         /* Stack h2 and button vertically */
  align-items: center;            /* Center horizontally */
  justify-content: space-between;        /* Center vertically */
  margin-top: 1rem;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  gap: 1rem;
}
.booknow h2{
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
    
}
.booknow button{
    background: black;
    color: #fff;    
    padding: 1rem 2rem;
    border-radius: 45px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background 0.3s ease;
    box-shadow: 0 0 1px  #fff,      /* Slightly smaller inner bright white glow */
                0 0 2px  #fff,      /* Reduced medium white glow */
                0 0 4px  #ffd700,  /* Smaller golden yellow glow */
                0 0 8px  #ffd700,  /* Reduced golden yellow outer glow */
                0 0 16px  #ff8c00,  /* Softer orange outermost glow */
                0 0 32px  #ff8c00;  /* Shortened faint orange glow */
}